<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Github projects latest release</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
</head>

<body>
    <div class="container my-3">
        <h1 class="mb-4">Projects</h1>

        {% if _releases.len() == 0 %}
            <em>No project</em>
        {% else %}
            <table id="releases" class="table table-striped table-bordered table-hover table-sm"
                   aria-describedby="Latest releases of Githyb projets">
                <thead>
                    <tr>
                        <th scope="col" width="120px">Language</th>
                        <th scope="col">Project</th>
                        <th scope="col" width="120px">Release</th>
                        <th scope="col" width="200px">Created at</th>
                        <th scope="col" width="200px">Published at</th>
                    </tr>
                </thead>
                <tbody>
                {% for release in _releases %}
                    {% match release.project %}
                        {% when Some with (project) %}
                            <tr>
                                <td>
                                {% if project.language == "PHP".to_owned() %}
                                    <span class="badge badge-primary">{{ project.language|upper }}</span>
                                {% else if project.language == "Go".to_owned() %}
                                    <span class="badge badge-info">{{ project.language|upper }}</span>
                                {% else if project.language == "Rust".to_owned() %}
                                    <span class="badge badge-warning">{{ project.language|upper }}</span>
                                {% else %}
                                    <span class="badge badge-secondary">{{ project.language|upper }}</span>
                                {% endif %}
                                </td>
                                <td><a href="https://github.com/{{ project.repo }}" target="_blank">{{ project.name }}</a></td>
                                <td><a href="{{ release.html_url }}" target="_blank">{{ release.tag_name }}</a></td>
                                <td class="datetime">{{ release.created_at }}</td>
                                <td class="datetime">{{ release.published_at }}</td>
                            </tr>
                        {% when None %}
                    {% endmatch %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('.datetime').each(function () {
                $(this).html(moment($(this).text()).format('YYYY-MM-DD HH:mm'));
            });

            $('#releases').DataTable({
                'pageLength': 25,
                'order': [[3, 'desc']],
            });
        });
    </script>
</body>
</html>
